<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- In your HTML templates -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">

</head>
<body>
    <h1> You have been logged in </h1> <br>
    <h1> Hello Welcome to the Application </h1> <br>
    <h2> This is the Application that you have been logged in {{username}} </h2>
    <a href = "{{url_for('logout')}}"> press here to logout </a>

</body>
</html>